@model CSE443_Project.Models.ViewModels.DashboardViewModel

<h2>Admin Dashboard</h2>

<ul>
    <li><strong>Tổng số người dùng:</strong> @Model.TotalUsers</li>
    <li><strong>Tổng số bài tuyển dụng:</strong> @Model.TotalJobs</li>
    <li><strong>Tổng doanh thu:</strong> @Model.TotalRevenue VNĐ</li>
</ul>
