@model CSE443_Project.Models.Job

<h2>Thêm công việc mới</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Tiêu đề</label>
        <input asp-for="title" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mô tả</label>
        <textarea asp-for="description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label>Vị trí</label>
        <input asp-for="location" class="form-control" />
    </div>
    <div class="form-group">
        <label>Mức lương</label>
        <input asp-for="salary" class="form-control" type="number" step="0.01" />
    </div>
    <div class="form-group">
        <label>Loại công việc</label>
        <input asp-for="job_type" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-2">Tạo mới</button>
</form>
